{
    "extends": "airbnb",
    "rules": {},
    "plugins": ["jsx-a11y", "import"],
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"]
            }
        }
    }
}
